.bg-dark {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-image: linear-gradient(135deg, transparent 0%, transparent 50%,rgba(159, 159, 159,0.07) 50%, rgba(159, 159, 159,0.07) 77%,transparent 77%, transparent 100%),linear-gradient(90deg, transparent 0%, transparent 91%,rgba(159, 159, 159,0.07) 91%, rgba(159, 159, 159,0.07) 99%,transparent 99%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 24%,rgba(159, 159, 159,0.07) 24%, rgba(159, 159, 159,0.07) 63%,transparent 63%, transparent 100%),linear-gradient(0deg, transparent 0%, transparent 49%,rgba(159, 159, 159,0.07) 49%, rgba(159, 159, 159,0.07) 63%,transparent 63%, transparent 100%),linear-gradient(90deg, rgba(0,6,20, 0.97),rgba(0,6,20, 0.97));
}

.dropdown-item.active, .dropdown-item:active {
  color: var(--bs-navbar-color);
  text-decoration: none;
  /*background-color: var(--bs-dropdown-link-active-bg);*/
}

.dropdown-item:hover, .dropdown-item:focus {
  color: var(--bs-navbar-active-color);
  background-color: var(--bs-navbar-disabled-color);
}

